<nav class="">
    <div class="">SlimBoilerplate</div>
      <div class="">
          <ul>
              <li><a class="">Item I</a></li>
              <li><a class="">Item II</a></li>
          </ul>
      </div>
</nav>